Section 8.1: Adding reference to RA PREF64 RFC8781


From discussion

> > the device queries the network for the NAT64 prefix using
> > "Discovery of the IPv6 Prefix Used for IPv6 Address Synthesis"
> > [RFC7050] and then
> > Regarding the use of RFC7050 for obtaining the NAT64 prefix, RA Option 38 (as specified in RFC8781) could also serve this purpose. However, given that this section is geared towards platforms not supporting 464XLAT, I assume doing rfc7050 is simpler than getting an RA message for an application so the omission of RFC8781 seems justified.
> 
> I think it would be fine to mention to RFC8781. Perhaps you could file an issue on GitHub for that?
https://mailarchive.ietf.org/arch/msg/v6ops/2csKJzBti4Mmb5vdWXp4-kzPd1k/


```diff
   When an IPv4 address is passed into the library instead of a
   hostname, the device queries the network for the NAT64 prefix using
   "Discovery of the IPv6 Prefix Used for IPv6 Address Synthesis"
- [RFC7050] 
+ [RFC7050] or PREF64 Router Advertisement option [RFC8781],
   and then synthesizes an appropriate IPv6 address (or
   several) using the encoding described in "IPv6 Addressing of IPv4/
   IPv6 Translators" [RFC6052].  The synthesized addresses are then
   inserted into the list of addresses as if they were results from DNS
   queries; connection attempts follow the algorithm described above
   (see Section 6).
```