Describe SVCB shuffling between same priority

We should make sure we align with this text from RFC 9460 Section 2.4.1:

> When receiving an RRset containing multiple SVCB records with the same SvcPriority value, clients SHOULD apply a random shuffle within a priority level to the records before using them, to ensure uniform load balancing.

