Section 8.1: When using encrypted DNS translation may also be needed.

> >   8.1.  IPv4 Address Literals
> >   Such translation also applies to any IPv4 address hints received in SVCB RRs.
> > The mention of SVCB RRs makes this section a lot more meaningful as IP address literals may not have been so common but with SVCB RRS they will be common even in a client/server scenario.
> 
> The other case that is common is when you’re using encrypted DNS (DoT/DoH/etc) and asking for both address families. That’s common to then get v4 answers that need to be translated.

From reply from Tommy.
https://mailarchive.ietf.org/arch/msg/v6ops/2csKJzBti4Mmb5vdWXp4-kzPd1k/


So maybe
```diff
- Such translation also applies to any IPv4 address hints received in SVCB RRs.
+ Such translation also applies to any IPv4 address hints received in SVCB RRs or when using encrypted DNS (DoT/DoH/etc).
```

I'm not sure we need to update this sentence. My understanding of Tommy's reply is about addresses from A/AAAA answers, which are already covered?

> If client applications or users wish to connect to IPv4 address literals, the Happy Eyeballs engine will need to perform NAT64 address synthesis for them. The solution is similar to "Bump-in-the- Host" [[RFC6535](https://tfpauly.github.io/draft-happy-eyeballs-v3/draft-pauly-v6ops-happy-eyeballs-v3.html#RFC6535)] but is implemented inside the Happy Eyeballs library.
>
>When an IPv4 address is passed into the library instead of a hostname, the device queries the network for the NAT64 prefix using "Discovery of the IPv6 Prefix Used for IPv6 Address Synthesis" [[RFC7050](https://tfpauly.github.io/draft-happy-eyeballs-v3/draft-pauly-v6ops-happy-eyeballs-v3.html#RFC7050)] and then synthesizes an appropriate IPv6 address (or several) using the encoding described in "IPv6 Addressing of IPv4/ IPv6 Translators" [[RFC6052](https://tfpauly.github.io/draft-happy-eyeballs-v3/draft-pauly-v6ops-happy-eyeballs-v3.html#RFC6052)]. The synthesized addresses are then inserted into the list of addresses as if they were results from DNS queries; connection attempts follow the algorithm described above (see [Section 6](https://tfpauly.github.io/draft-happy-eyeballs-v3/draft-pauly-v6ops-happy-eyeballs-v3.html#connections)).
>
>Such translation also applies to any IPv4 address hints received in SVCB RRs.

This is the entirety of Section 8.1. It might be worth adding a note that says something like it also applies to "IPv4 addresses received in A records".