Change document type to Standard

This draft is currently marked as Informational. RFC 8305 (Happy Eyeballs v2) was Standards Track. We should do the same for this doc. I would also suggest we go one step further inside the Standards Track and upgrade it from Proposed Standard to Internet Standard. This powers most communications on the Internet after all, which isn't something RFC 8200 can claim.

Explanation of these levels is in [Section 4.1 of RFC 2026](https://www.rfc-editor.org/rfc/rfc2026.html#section-4.1) though Draft Standard was removed by [RFC 6410](https://www.rfc-editor.org/rfc/rfc6410).